{% load static %}
<div class="sidebar">
    <div class="sidebar-heading"><i class="nav-logo fa-brands fa-unsplash"></i> DASHBOARD</div>
    <ul class="sidebar-menu flex-column">
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link" href="/"><i class="nav-logo fa-regular fa-house"></i> Home</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link" href="#">Profile</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link" href="#">Settings</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link" href="#">Reports</a>
        </li>
    </ul>
</div>