/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* partials css */
@import url('./navbar.css');
@import url('./sidebar.css');
@import url('./bootstrap-grid.css');

:root {
    --sidebar-color: #2c3e50;
    --sidebar-dark-color: #29353a;
    --nav-color: #2096f3;
    --nav-dark-color: #1c87db;
    --bg-color: #f5f6f7;
    --text-color: #333333;
    --white-color: #ffffff;
    --border-color: #dddddd;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start body rules */
body {
    background: var(--bg-color);
    /* font-family: 'Vibur', cursive; */
    /*   the main font */
    font-family: 'Abel', sans-serif;
}