/* Navbar Styles */
.navbar {
    background-color: var(--nav-color);
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-left h1 {
    font-size: 1.5rem;
    color: var(--white-color);
}
.navbar-left .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.navbar-left .logo{
    width: 50px;
    height: 50px;
}

.toggle-btn {
    border: none;
    color: var(--sidebar-color);
    background-color: var(--white-color);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.toggle-btn:hover {
    color: var(--white-color);
    background-color: var(--nav-color);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}



.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* Dropdown asosiy stillari */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px ;
    min-width: 200px;
    z-index: 1000;
    margin-top: 5px;
}

/* Yashirin holat */
.dropdown-menu.hidden {
    display: none;
}

/* Dropdown header */
.dropdown-header {
    padding: 12px 16px;
    font-weight: 600;
    color: var(--text-color);
    font-size: 0.9rem;
}

/* Dropdown elementlari */
.dropdown-menu li {
    list-style: none;
    border-bottom: 1px solid var(--border-color);
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

/* Form va select stillari */
.dropdown-menu form {
    padding: 12px 16px;
}

.dropdown-menu select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--white-color);
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
}

.dropdown-menu select:focus {
    border-color: var(--nav-color);
}

/* Link stillari */
.dropdown-menu a {
    display: block;
    padding: 12px 16px;
    color: var(--danger-color);
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

/* Hover effektlar */
.dropdown-menu a:hover , .dropdown-menu li:hover {
    background-color: var(--bg-color)
}


/* Responsive Design */
@media (max-width: 768px) {

    .mobile-toggle {
        display: block;
    }

}

@media (max-width: 480px) {
    .navbar {
        padding: 15px;
    }

    .navbar-right {
        gap: 10px;
    }

    .user-profile span {
        display: none;
    }
}