# HEMIS UNIVERSITY API
HEMIS_UNIVERSITY_API_BASE_URL = https://talaba.university.uz/rest/v1/data/

# API TOKEN for university HEMIS API USER
HEMIS_API_TOKEN = bSy3VHxS7-ZR3252HIZdwz69DHY

# SECRET_KEY, DEBUG-> Django settings
SECRET_KEY = django-insecure-&x(d08!b250v^613hdfh_r32sxsata5v53$s*0j
DEBUG = True / False

# BASE_URL -> Your website BASE URL
BASE_URL = http://localhost:8000

# PostgreSQL database settings
DATABASE_NAME=mydb
DATABASE_USERNAME=myuser
DATABASE_PASSWORD=mypass
DATABASE_HOST=localhost
DATABASE_PORT=5432